<div class="row">

    <div class="col-lg-3">
      <br />
     
  
    </div>
    <div class="col-lg-9">
  
      <div class="row">
        <!-- To display the Image -->
        <div class="col-12 col-md-4">
             <div class="thumbnail">
                 <img src="{{book.imageurl}}" width="250" height="300" />
             </div> 
        </div>
        <!-- To display book info -->
        <div class="col-12 col-md-8">
            <h3>{{book.name}}</h3>
            <hr />

            <p> {{book.description}}</p>
            <hr />
            <!-- INR Html code &#8377; Instead we are using Pipe to prefix INR symbol -->
            <h4>Price: <strong>{{book.unitPrice | currency: 'INR'}}/--</strong></h4>
            <hr />

            <h6>Qty. Available: {{book.unitsInStock}}</h6>
            <hr />

            <a routerLink="/books" class="btn btn-success">
              <i class="fas fa-arrow-left"></i>  back
            </a>

            <a href="#" class="btn btn-primary ml-1">
                <i class="fas fa-cart-arrow-down"></i> Add to Cart</a>
        </div>
      </div>   
    </div>
  
  </div>